<h1>Admins page</h1>

<p><%= link_to 'All users', users_path %></p>
<p><%= link_to 'All activities', activities_path %></p>
<p><%= link_to 'All listings', listings_path %></p>
<p><%= link_to 'Activities needing to be accepted', unauthorised_activities_path %></p>
<p>All users</p>

<p>All users</p>
<p>All users</p>
<p>All users</p>

