<h1>The following activities need to be authorised by an admin</h1>
<br>
<% @not_activities.each do |activity| %>
<p>This activity <%= link_to activity.name, activity_path(activity.slug) %> is currently authorised as <%= activity.authorised %></p>
<p>Would you like to <%= link_to "authorise?", "/admin/unauthorised_activities/#{activity.slug}/edit" %></p>
<br>
<% end %>