  .heading-container {
    padding-left: 50px;
  }

  .suggest-new-activity {
    padding-bottom: 15px;
  }

  .activity-search {
    padding-left: 150px; 
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 100%;
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
    flex-direction: row;
    
  }
  
  .photo-grid-item {
    display: inline;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .photo-grid-item img {
    width: 400px;
    height: 225px;
    box-sizing: border-box;
  }
  
  .overlay {
    position: relative;
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5995DA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  }

  .photo-grid-item:hover .overlay {
    opacity: 1;
  }

  .photo-text {
    color: white;
    line-height: 1;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.image-link:hover {
    background: none;
}

.areas-index {
  padding-bottom: 5%;
}

.activity-show{
    margin-top: 30px;
    padding-bottom: 10%;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap

}

.activity-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 38px;
}

.activity-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activity-image-container {
  justify-content: left;
  padding-block-end: 50px;
  padding-right: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px 5px;
  margin: 5px;
  text-decoration: none;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.activity-image {
  box-sizing: border-box;
  max-width: 500px;
}

.activity-image img {
  box-sizing: border-box;
  max-width: 500px;
  justify-content: left;
  border-radius: 10px;

}

.activity-description {
  width: 40%;
  justify-content: left;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px 16px;
  margin: 5px;
  text-decoration: none;
  min-height: 250px;
  max-height: fit-content;
  border-radius: 10px;
}
.activity-wiki {
    justify-content: flex-start;
    padding-left: 35px;
}

.new-activity-page {
    padding-top: 40px;
    padding-bottom: 3%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(240, 119, 39);
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    }
  }


  .activity-card {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
    text-decoration: none;
    max-width: 400px;
    height: 300px;
    text-align: center;
  }

  .activity-card-image {
    width: 100%;
    max-height: 70%;
    overflow: hidden;
  }

  .activity-card-image img {
      width: 100%;
      clip-path: fill-box;
      border-radius: 5px 5px 0 0;
      &:hover {
        transition: 0.3s;
      }
  }

  .activity-card a {
      text-decoration: none;
      
      &:hover {
        color: #5995DA;
        transition: 0.3s;
      }
  }

  .activity-card h3 {
      color: #f07727;
  }
  
  /* On mouse-over, add a deeper shadow */
  .activity-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    text-decoration: none;
  }

  .activity-description-actions {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 25%
    
  }

  .activity-wiki-link {
    padding-top: 10%;
  }

  .activity-listing-button {
    padding-top: 6%;
    padding-left: 8%;
  }


  

