/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: azure
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }

  .header {
    min-width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo img {
      margin-top: 80px;
      margin-bottom: 20px;
    max-height: 120px;

  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 0px 0;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;

  }
  
  .menu {
    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .links {
    margin-right: 30px;
    padding: 15px;
    justify-content: right;
    font-size: 17px;
  }

  .link-button {
    margin-right: 30px;
    padding: 0px;
    justify-content: right;
    font-size: 17px;
  }

  .links a {
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .links a:hover {
    text-emphasis-color:  #f2f2f2;
    color: black;
  }
  
  .login {
    margin-right: 20px;
  }

  .nav {
    padding: 15px;
  }
  .nav a {
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    text-emphasis-color:  #f2f2f2;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .login-page {
    margin-left: 20px;
    margin-top: 20px;
  }

  .login-heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  
  
 