/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .page-container {
    margin: 0px;
    padding: 0px;
  }

  .header {
    min-width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo img {
      margin-top: 80px;
      margin-bottom: 20px;
    max-height: 120px;

  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 0px 0;
    top: 0;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;

  }
  
  .menu {
    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .link-button a {
    color: white;
  }
  
  .links {
    margin-right: 30px;
    padding: 15px;
    justify-content: right;
    font-size: 17px;
    
  }

  .link-button {
    margin-right: 30px;
    padding: 0px;
    justify-content: right;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    width: 300px;
    
  }

  .link-button input {
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
      }
  }

  .loggedin-as {
    padding-top: 3%;
    margin-right: 5%;
  }

  .links a {
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .links a:hover {
    text-emphasis-color:  #f2f2f2;
    color: black;
  }
  
  .login {
    margin-right: 20px;
  }

  .nav {
    padding: 15px;
  }
  .nav a {
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    text-emphasis-color:  #f2f2f2;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .login-page {
    width: 100%;
    height: 100%;
    padding-bottom: 17%;
  }
  
  .login-heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .site-content {
    height: 100%;
    margin: 30px;
  }

  .heading-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap
  }

  .heading {
    color: #5995DA;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .heading-item {
    justify-content: right;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .home-content {
    padding-top: 2%;
    width: 100%;
  }

  .home-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    
  }

  .home-image-link {
    max-width: 30%;
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 50px;
  }

  .home-image-link img {
    max-width: 100%;
    min-width: 300px;
    
  }
  
  .home-image-link:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  
  .footer-container {
    min-width: 100%;
    min-height: 100px;
    max-height: 17%;
    height: 100%;
    margin-top: 20px;
    padding: 0;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
  }

  .footer {
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
  }

  .copyright {
    float: right;
    margin-top: 110px;
    text-align: right;
    padding-right: 30px;
  }

  .footer-items {
    width: 40%;
    float: left;
    margin-top: 18px;
    margin-left: 12%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    text-align: center; 
  }

  .footer-items strong {
    font-size: large;
  }

  .legal-bumf {
    float: left;
    padding-left: 20px;
    padding-right: 30px;
    height: fit-content;
  }

  .legal-bumf p {
    padding: 2px;
  }

  .nav-menu {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .footer a {
    color: white;
  }

  .footer a:hover {
    color: gray;

  }

  .nav-menu p {
    padding: 2px;
  }

  .footer-logo {
    float: left;
    width: 20%;
    margin-top: 50px;
    padding-left: 20px;
  }
  .footer-logo img {
    float: left;
    width: 100%;
  }
  
  
 