// Place all the styles related to the Areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.area-list {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.area-card {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 20px;
  }

  .area-card a {
      text-decoration: none;
      
      &:hover {
        color: azure;
      }
  }
  
  /* On mouse-over, add a deeper shadow */
  .area-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    background-color: #5995DA;
    color: azure;
  }
  

.area-show {
    width: 90vw;
}
.area-title {
    color: #5995DA
}
.area-details {
    
}
.area-stats {
    padding-bottom: 20px
}
.area-stat-detail {
width: 100%
}

.area-listing-title {
    color: #f07727;
}

.area-stats-card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 20%;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .area-stats-card strong {
      color: #5995DA
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .area-stats-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .container {
    padding: 2px 16px;
  }

  .area-activities {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.activity-card {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    max-width: 200px;
    height: 300px;
  }

  .activity-card-image img {
      max-width: 100%;
      border-radius: 5px 5px 0 0;
      &:hover {
        transition: 0.3s;
      }
  }

  .activity-card a {
      text-decoration: none;
      
      &:hover {
        color: #5995DA;
        transition: 0.3s;
      }
  }

  .activity-card h3 {
      color: #f07727;
  }
  
  /* On mouse-over, add a deeper shadow */
  .activity-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    text-decoration: none;
  }


