// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .listing-show {
      width: 100%;
      height: 100%;
      padding-bottom: 100px;
      box-sizing: border-box;
  }

  .listing-head {
      
  }

  .notice {
    height: 30px;
    width: 100%;
  }

  .listing-title {
    float: left;
    width: 40%;
    height: 100%;
    
  }

  .listing-title h1 {
    font-size: 48px;
    color: #5995DA;
    line-height: 48px;
  }

  .listing-rosette {
    float: right;
    padding-right: 40%;
    height: 150px;
  }
  .listing-rosette img {
    height: 150px; 
  }

.listing {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-image {

}
.listing-details {
    width: 50%;
    justify-content: left;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    min-height: 250px;
    max-height: fit-content;
    border-radius: 10px;

}
.listing-description {
    padding-top: 20px;
    width: 100%;

}
.listing-specifics {
    padding-top: 10px;
}

.listing-item {
    padding-top: 5px;
}

.new-listing {
    padding-bottom: 15px;
    align-content: center;
  }

  .listing-heading-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column
  }

  .listing-heading {
    color: #5995DA;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }

  .listing-search-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }

  .listing-search {
    color: #5995DA;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .reset-search-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    height: 100%;
  }

  .reset-search {
    color: #5995DA;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 60px;
  }

  .listings-index-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

  .new-listing-card {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    max-width: 200px;
    height: 350px;
  }

  .new-listing-card-image {

  }

  .new-listing-card-image img {
      max-width: 100%;
      clip-path: fill-box;
      border-radius: 5px 5px 0 0;
      &:hover {
        transition: 0.3s;
      }
  }

  .new-listing-card a {
      text-decoration: none;
      
      &:hover {
        color: #5995DA;
        transition: 0.3s;
      }
  }

  .new-listing-card h3 {
      color: #f07727;
  }
  
  /* On mouse-over, add a deeper shadow */
  .new-listing-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    text-decoration: none;
  }

  .listing-card {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    max-width: 200px;
    height: 350px;
  }

  .listing-card-image {
    max-height: 100px;
    overflow: hidden;
  }

  .listing-card-image img {
      max-width: 100%;
      clip-path: fill-box;
      border-radius: 5px 5px 0 0;
      &:hover {
        transition: 0.3s;
      }
  }

  .listing-card-attending {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 8px 12px 0 #5995DA;
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    max-width: 200px;
    height: 350px;
    background-color: #fac9a8
  }



  .listing-card-organiser {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(204, 122, 14, 0.7);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    max-width: 200px;
    height: 350px;
  }

  .listing-card a {
      text-decoration: none;
      
      &:hover {
        color: #5995DA;
        transition: 0.3s;
      }
  }

  .listing-card h3 {
    color: #5995DA;
}
  .listing-card h4 {
      color: #f07727;
  }
  
  /* On mouse-over, add a deeper shadow */
  .listing-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    text-decoration: none;
  }

  .listing-details-card {
    /* Add shadows to create the "card" effect */
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 16px;
    margin: 5px;
    text-decoration: none;
    max-width: 200px;
    height: fit-content;
    background-color: #D6E9FE;
    border-radius: 10px;
  }

  .listing-activity-image-container {
    justify-content: left;
    padding-block-end: 50px;
    padding-right: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px 5px;
    margin: 5px;
    text-decoration: none;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
  }

  .listing-activity-image {
    box-sizing: border-box;
    max-width: 500px;
  }

  .listing-activity-image img {
    box-sizing: border-box;
    max-width: 400px;
    justify-content: left;
    border-radius: 10px;

  }

  .listing-date {
    padding-top: 15px;
  }

