// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listing-show {
    width: 95vw;
    padding-bottom: 10px;
}

.listing-title {

}

.listing {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-image {

}
.listing-details {
    width: 50%;
    justify-content: left;

}
.listing-description {

    width: 100%;
    padding-top: 20px;

}
.listing-specifics {
    padding-top: 20px;
}

.listing-item {
    padding-top: 5px;
}

.new-listing {
    padding-bottom: 15px;
    align-content: center;
  }


  .listing-heading-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
  }

  .listing-heading {
    color: #5995DA;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .listing-heading-item {
    margin-bottom: 20px;
    flex-direction: column;
    padding-right: 45px
  }
