<div class="new-activity-page">
<h1>Suggest new activity</h1>
<br>

<p>If you'd like to see a new activity featured on MixMatch then we'd love to hear about it.
<br><br>
Our admin team will review your suggestion and, if approved, we'll get it featured on site quickly.
</p>

<%= render 'form', activity: @activity %>

<%= link_to 'Back', activities_path %>

</div>